﻿@model  Masti.Web.Models.BaseRegistrationModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@ViewBag.Title</title>
        
        @RenderSection("styles", required: false)
        
        @{
            Bundles.Reference("/Styles/Style.css");
            Bundles.Reference("/Content/bootstrap.css");
            Bundles.Reference("/Content/bootstrap-theme.css");
        }

        @Bundles.RenderStylesheets()

        @*
        ******************************************************************************************************************
        Application Insights: This script sends browser data to Azure Application Insigts.
        ******************************************************************************************************************
        *@

        <script type="text/javascript">
            var appInsights = window.appInsights || function(config) {
                function s(config) {
                    t[config] = function() {
                        var i = arguments;
                        t.queue.push(function() { t[config].apply(t, i) });
                    }
                }

                var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u;
                for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop());
                return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function(config, r, f, e, o) {
                    var s = u && u(config, r, f, e, o);
                    return s !== !0 && t["_" + i](config, r, f, e, o), s;
                }), t
            }({
                instrumentationKey: "8083e492-8a1f-4cf7-983a-05e2aad330de"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>


        @********************************************************************************************************************@

    </head>
    <body>
        <div id="wrapper">
            <div id="logo">
                <h1>
                        <a href="http://www.mastispell.com">
                                @Model.Event.Name
                        </a>
                </h1>
                @* ReSharper disable once CssNotResolved *@
                <img src="/images/new-spelling-bee-mylar copy.gif" alt="" width="80" height="80" border="0" style="valign:bottom" />
            </div>
            <br/>
            <div id="menu">
                <ul>
                    <li><a href="http://mastispell.com/index.html">Home</a></li>
                    <li><a href="http://mastispell.com/rules.html">Rules</a></li>
                    <li class="current_page_item"><a href="/MastiSpellRegistration">Registration</a></li>
                    <!--li><a href="sponsors.html">Sponsors</a></li-->
                    <li><a href="http://mastispell.com/sampleQuestions.html">Sample Questions</a></li>
                    <li><a href="http://mastispell.com/faq.html">FAQ</a></li>
                    <li><a href="http://mastispell.com/directions.html">Directions</a></li>
                    <li><a href="http://mastispell.com/2017Champions.html">2017 Winners</a></li>
                    <!--li><a href="photos.html">2010 Photos</a></li-->
                    <li><a href="http://mastispell.com/testimonials.html">Testimonials</a></li>
                    <!--li><a href="feedback.html">Feedback</a></li-->
                    <li><a href="http://mastispell.com/contactUs.html">Contact Us</a></li>
                </ul>
            </div>
            @RenderBody()
        </div>        
        
        @Bundles.RenderScripts();
        @RenderSection("scripts", required: true)
    </body>
</html>
