﻿@model  Masti.Web.Models.BaseRegistrationModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    @RenderSection("styles", required: false)

    @{
        //Bundles.Reference("/Styles/Style.css");
        Bundles.Reference("/Content/bootstrap.css");
        Bundles.Reference("/Content/bootstrap-theme.css");
        Bundles.Reference("/Styles/MastiFestStylesheet.css");
    }

    @Bundles.RenderStylesheets()

    @*
        ******************************************************************************************************************
        Application Insights: This script sends browser data to Azure Application Insigts.
        ******************************************************************************************************************
    *@

    <script type="text/javascript">
            var appInsights = window.appInsights || function(config) {
                function s(config) {
                    t[config] = function() {
                        var i = arguments;
                        t.queue.push(function() { t[config].apply(t, i) });
                    }
                }

                var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u;
                for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop());
                return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function(config, r, f, e, o) {
                    var s = u && u(config, r, f, e, o);
                    return s !== !0 && t["_" + i](config, r, f, e, o), s;
                }), t
            }({
                instrumentationKey: "8083e492-8a1f-4cf7-983a-05e2aad330de"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
    </script>


    @********************************************************************************************************************@

</head>
<body>
    <div id="container" style="height:2000px;">
        <div id="banner">
            <div id="bannerLeft"></div>
            <div id="bannerRight">
                <!--<h1><img src="~/Images/MastiFest2017Banner.png" width="600" height="71"></h1>-->
                <font size="7" color="#FF4500">
                    <center>MastiFest 2017</center>
                </font>
                <h2>where the fun begins...</h2>
                <div id="quote">
                    "Music and Dance fills the infinite between two souls" --  <a href="http://en.wikipedia.org/wiki/Rabindranath_Tagore" target="innerframe" style="color: rgb(0,255,0)"><font color="FF00CC">">Rabindranath Tagore</font></a>
                </div>
            </div>
        </div>
        <div id="top">
            <ul>
                <li id="contactus"><a href="http://mastispell.com/contactUs.html">Contact Us</a></li>
                <li id="directions"><a href="http://mastifest.com/directions.html">Directions</a></li>
                <li id="sponsors"><a href="http://mastifest.com/sponsors.html">Sponsors</a></li>
                <li id="home" ><a href="http://mastifest.com/index.html">Home</a></li>
                @*<li class="current_page_item"><a href="/Registration">Registration</a></li>*@
            </ul>
        </div>
        @RenderBody()
    </div>

    @Bundles.RenderScripts();
    @RenderSection("scripts", required: true)
</body>
</html>
