﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>

        <h2>One of us broke the site!</h2>

        @if (Model != null)
        {
            <h3>@Model.Exception.GetType().Name</h3>
            <p>
                @Model.Exception.ToString()
            </p>
            <p>
                thrown in @Model.ControllerName @Model.ActionName
            </p>
        }
    </hgroup>
</body>
</html>