/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

.top-buffer { margin-top:10px; }

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #EDFBD2 url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #2B4E15;
}

form {
	margin: 0;
	padding: 0;
}

input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

h1, h2, h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-bottom: 1.8em;
	line-height: 160%;
}

ul, ol {
}

blockquote {
}

a {
	color: #71AB48;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

table tr {
    vertical-align: top;
}
/* Wrapper */

#wrapper {
	height: 100%;
	min-height: 100%;
	/*background: url(images/img02.jpg) repeat-x left bottom;*/
}

html>body #wrapper {
	height: auto;
}

/* Menu */

#menu {
	width: 794px;
	height: 57px;
	padding-top: 3px;
	margin: 0 auto;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 10px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	height: 0px;
	padding: 2px 5px 2px ;
	text-decoration: none;
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background: #949684;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #949684;
	color: #FFFFFF;
}

/* Logo */

#logo {
	width: 778px;
	/*height: 90px;*/
	margin: 0 auto;
	color: #FFFFFF;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
}

#logo h1 {
	padding: 20px 0 0 20px;
	letter-spacing: 1px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 42px;
}

#logo h2 {
	padding: 36px 0 0 10px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 778px;
	margin: 0 auto;
	padding: 20px 0;
}

/* Content */

#content {
	float: left;
	width: 494px;
}

#Layer18 {
    width: 1000px;
}
.post {
	padding-bottom: 20px;
}

.post .title {
	margin: 0;
	padding: 5px 20px;
	letter-spacing: -2px;
}

.post .title a {
	text-decoration: none;
	color: #57A122;
}

.post .entry {
	padding: 0px 0px 0 20px;
}

.post .meta {
	height: 26px;
	border-top: 1px solid #3E5C0E;
	border-bottom: 2px solid #3E5C0E;
	font-size: smaller;
	font-weight: bold;
}

.post .posted {
	float: left;
	height: 16px;
	padding: 5px 20px;
}

.post .permalink, .post .comments {
	float: right;
	height: 16px;
	padding: 5px 20px;
}

.message1 {
    font-size: 18px; 
    font-weight: bold; 
    color: #FF0000; 
    font-style: italic
}

.message2 {
    font-size: 12px; 
    font-weight: bold; 
    font-style: italic    
}
.post .permalink {
}

td, th {
    display: table-cell;
    vertical-align: middle
}

.registrationTable, .participantsTable {
    width: 100%;
    border-spacing: 0
}

.participantsTable tr td,
.participantsTable tr th {
    border: 1px solid black;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 282px;
}

#sidebar ul {
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
}

#sidebar li {
	margin-left: 40px;
	margin-bottom: 10px;
}

#sidebar li ul {
	padding: 20px;
}

#sidebar li li {
	margin: 0;
}

#sidebar p {
	padding: 0 20px;
}

#sidebar h2 {
	height: 25px;
	margin: 0;
	padding: 9px 0 0 20px;
	background: #B6E074;
	border: 1px  dotted #4D7C2B;
	font-size: 1.4em;
	font-weight: normal;
	color: #000000;
}

/* Search */

#search form {
	padding: 20px;
}

#search br {
	display: none;
}

#search #s {
	width: 135px;
}

/* Footer */

#footer {
	clear: both;
	padding: 10px 0;
	font-size: smaller;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
}


/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
 width:925px;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}