﻿@using Masti.Entities.Model
@model  Masti.Web.Models.MastiFestRegistrationModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    Bundles.Reference("Scripts/Registration/MastiFestRegistration.js");
}

<form id="mainForm" action="">
    <div id="page">
        <div class="post">
            <div style="width: 100%; margin: 0 0 20px 0;">
                <h1 class="title"><a>Welcome to @Model.Event.Name Registration</a></h1>
            </div>
            @*<div style="width: 50%; margin: 0 auto;">
                    <span class="message1">75+ spellers registered for @Model.Event.Name!!</span>
                </div>
                <div style="width: 30%; margin: 0 auto;">
                    <span class="message2">Thanks for spreading the good word!!!</span>
                </div>*@

            <div id="Layer18">
                @*<p>Last chance to avail of online-only discounts -- register by 12 Noon!!!</p>*@
                <h2>@Model.Event.MainMessage</h2>

                <div class="style13">
                    <!--FONT SIZE="3" COLOR="blue"><strong>For limited time, registrationDTO in any category includes entry-fee for MastiSpell Spelling Seminar.</strong></FONT> </br-->
                    <ul>
                        <li>
                            @*Delicious <strong><i>Vegetarian</i></strong> Indian Dinner by <strong><i><a href="https://www.punjabijunctionva.com/" target="innerframe">Punjabi Junction</a></i></strong> included in Admission Price.*@
                            Delicious <strong><i>Vegetarian</i></strong> Indian Dinner included in Admission Price.
                        </li>
                        <li>
                            The participant types include:
                            <ul>
                                <li><strong>Infant</strong> -- Infants (below 3 years) will not be charged an admission fee. However, we strongly request you to register all infants as well.</li>
                                <li><strong>Kid</strong> -- Kids (3yrs-10yrs) will be charged at reduced-admission price. <u>Regular price @Model.RegististationPriceDictionary[typeof(Child).Name].DiscountedAmount.ToString("C").</u> (At-Gate: @Model.RegististationPriceDictionary[typeof(Child).Name].Amount.ToString("C"))</li>
                                <li><strong>Adult/Youth</strong> -- Adults and Youth (11yrs-17yrs) will be charged the regular admission price. <u>Regular price @Model.RegististationPriceDictionary[typeof(Adult).Name].DiscountedAmount.ToString("C").</u>(At-Gate: @Model.RegististationPriceDictionary[typeof(Adult).Name].Amount.ToString("C"))</li>
                            </ul>
                        </li>
                        <li>Tickets are non-refundable and non-cancellable.</li>
                        <li>One complimentary FULL serving buffet dinner "single-pass" only per purchased ticket <u>with no return trips</u>. Extra dinner coupons available for sale on site if needed.</li>
                        @*<li>
                            <FONT COLOR="#FF0000"><strong><i>Online-Only</i> Group-Discount:</strong> Use Coupon code - <strong><i>mf2012off10%</i></strong> to get 10% off your Google Checkout shopping cart over $150.00</FONT>
                        </li>*@
                    </ul>

                    <p><a href="http://www.mastifest.com/registrationDetails.html" onclick="return !window.open('http://www.mastifest.com/registrationDetails.html','mywindow','scrollbars=1,resizeable=1,width=800,height=800')">Please click for Registration Details</a></p>
                    <p>We encourage you to register below all types of participants who plan to attend the event with you, as this information will help us in accurate capacity-planning. In an effort towards streamlining the actual check-in process on the day of the event, we request patrons to register one-group/family-at-a-time.</p>
                    <p>Please use the buttons below to register yourself and your family/group for MastiFest 2017</p>
                </div>
                <div class="style13">
                    <div style="font-weight: bold;">Instructions:</div>
                    <div>
                        We encourage you to register below all types of participants who plan to attend the event with you, as this information
                        will help us in accurate capacity-planning. In an effort towards streamlining the actual check-in process on the day of
                        the event, we request patrons to register one-family-at-a-time, with <span style="text-decoration: underline">not more than TEN participants per registration</span>.
                    </div>
                </div>
                <p><p>
                    <button id="addParticipant" type="button" class="btn btn-primary" onclick="MastiFestRegistration.ShowAddPatronModal()">
                        Add Participant
                    </button>
                    @*<input name="DeleteParticipants" type="button" class="btn"
                        id="DeleteParticipants" onclick=" Registration.DeleteParticipant() " value="Delete Last Participant" />*@
                    <!--<input name="GenerateJWT" type="button" class="style13" id="GenerateJWT" onclick="Registration.GenerateJWT()"
                           value="Generate JWT"/>
                    <input name="TestResponse" type="button" class="style13" id="TestResponse" onclick="Registration.TestResponse()"
                           value="Test Response"/>
                    <input name="PuchaseCompleted" type="button" class="style13" id="TestPuchaseCompleted" onclick="Registration.TestPurchaseComplete()"
                           value="Test Purchase Completed"/>-->
                    <strong>Kindly add "Head of Household/Group" details first, alongwith <u>preferred email address</u></strong>
                </p>

                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Participant Type</th>
                                <th>Amount</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="patronTableBody"></tbody>
                    </table>
                </div>

                <table class="registrationTable">
                    <tbody>
                        <tr>
                            <td width="90"></td>
                            <td width="90"></td>
                            <td width="112"></td>
                            <td width="172"></td>
                            <td width="75"></td>
                            <td width="55"><span class="style3">Total</span></td>
                            <td width="45">
                                <input type="text" name="totalAmt"
                                       id="totalAmt" size="11" maxlength="10" disabled="disabled" value="0.00" />
                            </td>
                    </tbody>
                </table>
                <br />

                <div class="container top-buffer">
                    <div class="row top-buffer">
                        <div class="col-md-8"><strong>* Referred By :</strong> Please let us know whom we should thank for your patronage? 
                        Was it a website-ad or a flyer at a particular store/restaurant or via direct-email? If referred by a 
                        colleague/neighbor/friend or specific MastiFest-Volunteer kindly provide their name.
                        </div>
                        <div class="col-md-4"><input type="text" id="referredBy" name="referredBy" maxlength="50" /></div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-8"><strong>* Terms and Conditions : </strong><a href="http://www.mastifest.com/TermsAndConditions.html" onclick="return !window.open('http://www.mastifest.com/TermsAndConditions.html','mywindow','scrollbars=1,resizeable=1,width=800,height=800')">I agree to the terms &amp; conditions</a></div>
                        <div class="col-md-4"><input name="agreement" id="agreement" type="checkbox" /></div>
                    </div>
                    <div id="validattionMessageDiv" class="row top-buffer" style="display:none">
                        <div class="col-md-6 alert alert-danger">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <span id="validationMessage">At least one participant required</span>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-8"></div>
                        @*<div class="col-md-4"><button type="submit" class="btn btn-primary" onclick=" Registration.ProcessSubmit() ">Buy</button>*@
                        <div class="col-md-4" style="cursor: pointer; cursor: hand;">
                            <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" onclick="MastiFestRegistration.InitiatePayment(this); ">
                        </div>
                    </div>
                    <div class="row top-buffer">

                    </div>
                </div>


                @*<p align="right">
                        <input type="hidden" id="jwtMS" name="jwtMS" />
                        <input type="submit" value="Buy" onclick="Registration.ProcessSubmit()"/>
                    </p>*@

            </div>
        </div>
    </div>
</form>

<div id="addParticipantModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="modal-title">
                    <h4 id="modalTitle" class="modal-title">Add Patron</h4>
                </div>
            </div>
            <div class="modal-body">
                <form id="addPatronForm" class="form-horizontal" role="form"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addPatronButton" type="button" class="btn btn-primary" onclick="MastiFestRegistration.AddUpdatePatron()">Add</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="shortcut icon" href="/images/new-spelling-bee-mylar copy.gif" type="image/x-icon" />
}

@section scripts
{

    @************************       TEMPLATES    *****************************************************************@
    <script id="patronRowTmpl" type="text/jx-handlebars-template">
        {{#each patrons}}
        <tr>
            <td>{{FirstName}}</td>
            <td>{{MiddleName}}</td>
            <td>{{LastName}}</td>
            <td>{{Email}}</td>
            <td>{{PatronTypeDescription}}</td>
            <td>${{Amount}}</td>
            <td><a href="#" class="btn btn-info" onclick="MastiFestRegistration.ShowEditPatronModal({{PatronId}})"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
            <td><a href="#" class="btn btn-info" onclick="MastiFestRegistration.DeleteParticipant({{PatronId}})"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
            @*<td>{{PatronId}}</td>*@
        </tr>
        {{/each}}

    </script>

    <script id="patronFormTmpl" type="text/x-handlebars-template">

        <div class="form-group">
            <label for="patronType" class="col-sm-3 control-label">Participant Type:</label>
            <input id="patronId" type="hidden" value="{{patron.PatronId}}" />
            <div class="col-sm-6">
                <select id="patronType" name="patronType" class="form-control" onchange="MastiFestRegistration.PatronTypeSelected()">
                    <option value="">-- Select --</option>
                    {{#each refData.PatronTypes}}
                    <option value='{{this.Code}}'>{{this.Description}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{patron.FirstName}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="middleName" class="col-sm-3 control-label">Middle Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name" value="{{patron.MiddleName}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{patron.LastName}}" />
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="you@somewhere.com" value="{{patron.Email}}" />
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="col-sm-3 control-label">Amount:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="amount" maxlength="100" required disabled="disabled" />
            </div>
        </div>
    </script>

    @****************************************************************************************************************@
    <script type="text/javascript">
        var settingsObject = @Html.Raw(Json.Encode(ViewBag));

        $(document).ready(function() {
            MastiFestRegistration.InitView();
        });
    </script>
}