﻿@using Masti.Entities.Model
@model  Masti.Web.Models.EventAndRegistrationPriceModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Bundles.Reference("Scripts/Registration/Registration.js");
}

<form id="mainForm" action="">
    <div id="page">
        <div class="post">
            <div style="width: 100%; margin: 0 0 20px 0;">
                <h2 class="title"><a>Welcome to @Model.Event.Name Registration</a></h2>
            </div>
            @*<div style="width: 50%; margin: 0 auto;">
                    <span class="message1">75+ spellers registered for @Model.Event.Name!!</span>
                </div>
                <div style="width: 30%; margin: 0 auto;">
                    <span class="message2">Thanks for spreading the good word!!!</span>
                </div>*@

            <div id="Layer18">
                <h2>@Model.Event.MainMessage</h2>

                <p><a href="" class="style13" onclick="return !window.open('http://www.mastispell.com/registrationDetails.html', 'mywindow', 'scrollbars=1,resizeable=1,width=800,height=800') ">Please click for Registration Details </a></p>
                <div class="style13">
                    <!--FONT SIZE="3" COLOR="blue"><strong>For limited time, registrationDTO in any category includes entry-fee for MastiSpell Spelling Seminar.</strong></FONT> </br-->Please use the buttons below to input participants. The participant types include:
                    <ul>
                        <li><strong>Speller-Jr.Bee (K-Gr4)</strong> -- Jr. Bee is open for students Grade 4 and under. School details are required. <span style="text-decoration: underline">Regular @Model.RegististationPriceDictionary[typeof(JrBeeSpeller).Name].DiscountedAmount.ToString("C")</span>. (Late @Model.RegististationPriceDictionary[typeof(JrBeeSpeller).Name].Amount.ToString("C"))</li>
                        @*<li><strong>Speller-Olympiad (Gr5-Gr8)</strong> -- Spelling Olympiad is open for students between Grade 5 to Grade 8. School details are required. <span style="text-decoration: underline">Early Bird Special @Model.RegististationPriceDictionary[typeof(OlympiadSpeller).Name].DiscountedAmount.ToString("C")</span>. (Regular @Model.RegististationPriceDictionary[typeof(OlympiadSpeller).Name].Amount.ToString("C"))</li>*@
                        <li><strong>Parents/Guardian</strong> -- We require at least ONE parent to accompany the registered speller(s). <span style="text-decoration: underline">Price @Model.RegististationPriceDictionary[typeof(Parent).Name].DiscountedAmount.ToString("C")</span> (Late @Model.RegististationPriceDictionary[typeof(Parent).Name].Amount.ToString("C")).</li>
                        <li>
                            <strong>Infant (0yrs to 2yrs)</strong> -- Infants will not be charged an admission fee. However, we strongly request you to
                            register all infants attending the Event as well.
                        </li>
                        <li>
                            <strong>Kid Spectator</strong> -- Student spectators not participating as spellers in <span style="text-decoration: underline">@Model.Event.Name - Jr. Spelling Bee</span> between the ages
                            of 3yrs and 18yrs will be charged a reduced-admission price. <span style="text-decoration: underline">Price @Model.RegististationPriceDictionary[typeof(KidSpectator).Name].DiscountedAmount.ToString("C")</span>. (Late @Model.RegististationPriceDictionary[typeof(KidSpectator).Name].Amount.ToString("C")).
                        </li>
                        <li>
                            <strong>Other Spectator</strong> -- Teachers, neighbors, colleagues, uncles/aunts, grandparents, other adult friends/relatives/well-wishers
                            joining us in the audience. <span style="text-decoration: underline">Price @Model.RegististationPriceDictionary[typeof(OtherSpectator).Name].DiscountedAmount.ToString("C")</span> (Late @Model.RegististationPriceDictionary[typeof(OtherSpectator).Name].Amount.ToString("C")).
                        </li>
                    </ul>
                    <strong>Note on County/School</strong> -- If you do not see your child's County or School listed, please use "Other" from the
                    County and/or School names dropdown.
                </div>
                <br />
                <div class="style13">
                    <div style="font-weight: bold;">
                        We encourage you to register below all types of participants who plan to attend the event with you, as this information
                        will help us in accurate capacity-planning. In an effort towards streamlining the actual check-in process on the day of
                        the event, we request patrons to register one-family-at-a-time, with <span style="text-decoration: underline">not more than TEN participants per registration</span>.
                    </div>
                </div>
                <p><p>
                    <button id="addParticipant" type="button" class="btn btn-primary" onclick="Registration.ShowAddPatronModal()">
                        Add Participant
                    </button>
                    @*<input name="DeleteParticipants" type="button" class="btn"
                        id="DeleteParticipants" onclick=" Registration.DeleteParticipant() " value="Delete Last Participant" />*@
                    <!--<input name="GenerateJWT" type="button" class="style13" id="GenerateJWT" onclick="Registration.GenerateJWT()"
                           value="Generate JWT"/>
                    <input name="TestResponse" type="button" class="style13" id="TestResponse" onclick="Registration.TestResponse()"
                           value="Test Response"/>
                    <input name="PuchaseCompleted" type="button" class="style13" id="TestPuchaseCompleted" onclick="Registration.TestPurchaseComplete()"
                           value="Test Purchase Completed"/>-->
                    <strong>Add SPELLER(S) DETAILS FIRST along with preferred contact email address.</strong>
                </p>

                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Participant Type</th>
                                <th>State/County/School</th>
                                <th>Grade</th>
                                <th>Age</th>
                                <th>Amount</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="patronTableBody"></tbody>
                    </table>
                </div>

                <table class="registrationTable">
                    <tbody>
                        <tr>
                            <td width="90"></td>
                            <td width="90"></td>
                            <td width="112"></td>
                            <td width="172"></td>
                            <td width="75"></td>
                            <td width="75"></td>
                            <td width="230"></td>
                            <td width="55"></td>
                            <td width="55"><span class="style3">Total</span></td>
                            <td width="45">
                                <input type="text" name="totalAmt"
                                       id="totalAmt" size="11" maxlength="10" disabled="disabled" value="0.00" />
                            </td>
                    </tbody>
                </table>
                <br />

                <div class="container top-buffer">
                    <div class="row">
                        <div class="col-md-8"><strong>Spelling Boot-Camp :</strong> Speller(s) is/are interested in a local Spelling Boot Camp. Please email us schedule & pricing information.</div>
                        <div class="col-md-4"><input name="AttendingSpellingBootcamp" type="checkbox" id="AttendingSpellingBootcamp" /></div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-8"><strong>* Referring Person :</strong> We would like to know the name of your Friend/Advisor/Teacher/Principal</div>
                        <div class="col-md-4"><input type="text" id="referredBy" name="referredBy" maxlength="50" /></div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-8"><strong>* Terms and Conditions : </strong><a href="http://www.mastispell.com/TermsAndConditions.html" onclick="return !window.open('http://www.mastispell.com/TermsAndConditions.html','mywindow','scrollbars=1,resizeable=1,width=800,height=800')">I agree to the terms &amp; conditions</a></div>
                        <div class="col-md-4"><input name="agreement" id="agreement" type="checkbox" /></div>
                    </div>
                    <div id="validattionMessageDiv" class="row top-buffer" style="display:none">
                        <div class="col-md-6 alert alert-danger">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <span id="validationMessage">At least one participant required</span>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-8"></div>
                        @*<div class="col-md-4"><button type="submit" class="btn btn-primary" onclick="Registration.ProcessSubmit()">Buy</button>*@
                        <div class="col-md-4" style="cursor: pointer; cursor: hand;">
                            <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" onclick="Registration.InitiatePayment(this);">
                        </div>
                    </div>
                    <div class="row top-buffer">

                    </div>
                </div>


                @*<p align="right">
                        <input type="hidden" id="jwtMS" name="jwtMS" />
                        <input type="submit" value="Buy" onclick="Registration.ProcessSubmit()"/>
                    </p>*@

            </div>
        </div>
    </div>
</form>

<div id="addParticipantModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="modal-title">
                    <h4 id="modalTitle" class="modal-title">Add Patron</h4>
                </div>
            </div>
            <div class="modal-body">
                <form id="addPatronForm" class="form-horizontal" role="form"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addPatronButton" type="button" class="btn btn-primary" onclick="Registration.AddUpdatePatron()">Add</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="shortcut icon" href="/images/new-spelling-bee-mylar copy.gif" type="image/x-icon" />
}
@section scripts
{

    @************************       TEMPLATES    *****************************************************************@
    <script id="patronRowTmpl" type="text/jx-handlebars-template">
        {{#each patrons}}
        <tr>
            <td>{{FirstName}}</td>
            <td>{{MiddleName}}</td>
            <td>{{LastName}}</td>
            <td>{{Email}}</td>
            <td>{{PatronTypeDescription}}</td>
            <td>{{SchoolName}}</td>
            <td>{{GradeTypeDescription}}</td>
            <td>{{AgeTypeDescription}}</td>
            <td>${{Amount}}</td>
            <td><a href="#" class="btn btn-info" onclick="Registration.ShowEditPatronModal({{PatronId}})"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
            <td><a href="#" class="btn btn-info" onclick="Registration.DeleteParticipant({{PatronId}})"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
            @*<td>{{PatronId}}</td>*@
        </tr>
        {{/each}}

    </script>

    <script id="patronFormTmpl" type="text/x-handlebars-template">

        <div class="form-group">
            <label for="patronType" class="col-sm-3 control-label">Participant Type:</label>
            <input id="patronId" type="hidden" value="{{patron.PatronId}}" />
            <div class="col-sm-6">
                <select id="patronType" name="patronType" class="form-control" onchange="Registration.PatronTypeSelected()">
                    <option value="">-- Select --</option>
                    {{#each refData.PatronTypes}}
                    <option value='{{this.Code}}'>{{this.Description}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{patron.FirstName}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="middleName" class="col-sm-3 control-label">Middle Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name" value="{{patron.MiddleName}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{patron.LastName}}" />
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="you@somewhere.com" value="{{patron.Email}}" />
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-3 control-label">State:</label>
            <div class="col-sm-3">
                <select id="state" name="state" class="form-control" onchange="Registration.StateChanged()"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="county" class="col-sm-3 control-label">County:</label>
            <div class="col-sm-4">
                <select id="county" name="county" class="form-control" onchange="Registration.CountyChanged()"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="school" class="col-sm-3 control-label">School:</label>
            <div class="col-sm-6">
                <select id="school" name="school" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="otherSchoolChkBox" class="col-sm-8 control-label">Cannot find my school in the list. I will enter it myself.</label>
            <div class="col-sm-2">
                <input type="checkbox" class="form-control" id="otherSchoolChkBox" name="otherSchoolChkBox" onchange="Registration.OtherSchoolChkBoxChanged()" />
            </div>
        </div>
        <div class="form-group" id="otherSchoolDiv">
            <label for="otherSchool" class="col-sm-3 control-label">Other State/County/School:</label>
            <div class="col-sm-6">
                <input type="text" id="otherSchool" name="otherSchool" class="form-control" placeholder="School Name" value="{{patron.OtherSchool}}" />
            </div>
        </div>

        <div class="form-group">
            <label for="grade" class="col-sm-3 control-label">Grade:</label>
            <div class="col-sm-3">
                <select id="grade" name="grade" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="age" class="col-sm-3 control-label">Age:</label>
            <div class="col-sm-3">
                <select id="age" name="age" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="col-sm-3 control-label">Amount:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="amount" maxlength="100" required disabled="disabled" />
            </div>
        </div>
    </script>

    <script id="stateOptionTmpl" type="text/x-handlebars-template">
        <option value='{{StateCode}}'>{{Name}}</option>
    </script>

    <script id="countyOptionTmpl" type="text/x-handlebars-template">
        <option value='{{Id}}'>{{Name}}</option>
    </script>

    <script id="schoolOptionTmpl" type="text/x-handlebars-template">
        <option value='{{Id}}'>{{Name}}</option>
    </script>

    <script id="gradeOptionTmpl" type="text/x-handlebars-template">
        <option value='{{Code}}'>{{Description}}</option>
    </script>

    <script id="ageOptionTmpl" type="text/x-handlebars-template">
        <option value='{{Code}}'>{{Description}}</option>
    </script>


    @****************************************************************************************************************@
    <script type="text/javascript">
        var settingsObject = @Html.Raw(Json.Encode(ViewBag));

        $(document).ready(function() {
            Registration.InitView();
        });
    </script>
}