﻿@model  Masti.Web.Models.BaseRegistrationModel 

@{
    ViewBag.Title = "Confirmation";
    Layout = @Model.Event.EventTypeCode == "MASTISPELL" ?  "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2 class="text-success">Your registration is successful!</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-info">You are now registered for @Model.Event.Name ! </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Please watch for PayPal payment confirmation email. This email will be your receipt.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><a class="btn btn-primary" role="button" href="@Model.Event.HomePageURL">Go Home</a></div>
    </div>
</div>

@section scripts
{
    
}
